.CartItem {
    display: flex;
    border-bottom: 1px solid #DDD;
    padding-top: 12px;
    padding-bottom: 12px;
}

.CartItem-image {
    width: 180px;
    height: 180px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 16px;
}

.CartItem-image img {
    object-fit: contain;
    width: 100%;
}

.CartItem-info {
    flex-grow: 1;
}

.CartItems {
    flex: 0.8;
    background-color: white;
}

.CartItem-price {
    font-weight: bold;
    font-size: 18px;
    margin-left: 18px;
}

.info-title {
    margin: 0;
    color: #007185
}

.info-stock {
    margin-top: 4px;
    color: #007600;
}

.item-actions {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.item-delete {
    margin-top: 4px;
    color: #007185;
    font-weight: bold;
    cursor: pointer;
}

.item-delete:hover {
    margin-top: 4px;
    color: #007185;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.item-quantity-style {
    background: #F0F2F2;
    padding:8px;
    border-radius:7px;
}

.item-actions-divider {
    margin-left: 7px;
    margin-right: 7px;
    color: #DDDDDD;
    font-weight: bold;
}

h2 {
    margin: 0;
}

.CustomerList-item {
    display: flex;
}

.revenue {
    margin: 0;
    color: black;
    margin-left: 10px;
}
