body {
  background-color: #EAEDED;
}

.App {
  text-align: center;
}

.App-main {
  display: flex;
  padding: 14px 18px 0 18px;
}

.App-main-cpm {
  padding: 14px 18px 0 18px;
  display: flex;
}

.CustomerList {
  display: flex;
}

.CPM-quadrants {
  display:flex;
  background-color:white;
  border: black;
}

.CPM-quadrants-pieces {
  display:flex;
  flex-direction: column;
  background-color:white;
  border: solid;
  width: 180px;
  height: 125px;
}